parameters:
    locale: en

    database_host: 127.0.0.1
    database_port: 13306
    database_name: btracker
    database_user: btracker
    database_password: btracker

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    secret: ThisTokenIsNotSoSecretChangeIt

    amqp_host: 127.0.0.1
    amqp_port: 5672
    amqp_user: rabbitmq
    amqp_password: rabbitmq
    amqp_vhost: /
    amqp_connection_timeout: 3
    amqp_read_write_timeout: 3
